/*

Custom modifications of reveal css

*/

/* Fonts */
@font-face {
    font-family: 'KGSecondChancesSketch';
    src: url('../fonts/KGSecondChancesSketch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reveal {
    font-family: "Ubuntu";
    font-size: 30px;
}

.reveal h2 {
  font-family: "KGSecondChancesSketch";
  font-weight: normal;
}

.reveal h3 {
    font-size: 1.2em;
}

/* Remove img border */
img {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

/* Remove box shadow arround pre */
.reveal pre {
    box-shadow: none;
}

/* Last slide */
.me {
    margin: 0;
    text-align: center;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
    color: #ffffff;
}
